body{
font-family: Arial, sans-serif;
}

.navbar{
background:#0f4c75;
}

.hero{
padding-top:120px;
padding-bottom:80px;
background:linear-gradient(
135deg,
#0f4c75,
#00b894
);
color:white;
}

.profile-img{
width:180px;
height:180px;
border-radius:50%;
border:5px solid white;
margin-bottom:20px;
}

.section-title{
text-align:center;
margin-bottom:40px;
color:#0f4c75;
font-weight:bold;
}

.card{
transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
}

.btn-primary{
background:#0f4c75;
border:none;
}

.btn-success{
background:#00b894;
border:none;
}

.footer{
background:#0f4c75;
color:white;
}

.footer a{
color:#00ffcc;
text-decoration:none;
}